
<div class="container">

    <header class="jumbotron hero-spacer">
        <h1>Hello Minion!</h1>
        <p>Docker를 이용하기 위해서는 Docker가 돌아갈 Minion이 필요합니다. 새로운 Minion을 만들고 자신만의 Whales Script를 만들어 보세요.</p>
        <p><a new-minion-modal></a>
        </p>
    </header>





    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">

        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">
        <div class="animate-repeat" ng-repeat="minion in minions">
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">

                    <div class="caption">
                        <h3>{{minion.name}}</h3>
                        <p>{{minion.cpu}}</p>
                        <p>{{minion.ram}}</p>

                        <p>
                            <a class="btn btn-primary btn-large" ng-click="sm(minion)">자세히</a>
                            <a class="btn btn-default">Delete</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->


    <a id="btn-minions-top" hidden  ps-open="checked" ps-class="panel" ps-size="80%" pageslide="top" ps-speed="0.7" href="#demo-top0">자세히</a>
    <div style="padding:50px; overflow: auto; " id="demo-top0">
        <div class="row">
            <div class="col-lg-2">
                <div class="well" style="height:100%">
                    <h2>{{selectedMinion.name}}</h2>
                    <p>{{selectedMinion.cpu}} core</p>
                    <p>{{selectedMinion.ram}} MB</p>
                    <a id="demo-top0-close" class="btn btn-lg btn-primary" ng-click="topClose()" >Close</a>
                </div>
            </div>
            <div class="col-lg-9 well">
                <div class="well">
                    <button class="btn btn-lg btn-default"  ng-click="onIndex(i)" ng-repeat="i in index">{{i}}<span class="fa fa-coffee"></span></button>
                    <a></a>

                    <button class="btn btn-lg btn-danger" ng-click="destroy_all()">Destroy</button>
                </div>
                <div class="">
                    <div class="col-lg-6 well">
                        <label class="control-label" for="fields">Container list</label>
                        <ul class="event-list">
                            <li ng-repeat="container in containers">
                                <div class="info">
                                    <h2 class="title">{{container.Image}}</h2>
                                    <p class="desc">{{container.Command}}</p>
                                    <ul>
                                        <li style="width:40%;"><a><span class="glyphicon glyphicon-us"></span>{{container.Names[0]}}</a></li>
                                        <li style="width:60%;"><span class="fa fa-clock-o"></span>{{container.cal}}</li>
                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="col-lg-offset-1 col-lg-5">
                        <div class="row">
                            <div class="control-group" id="fields">
                                <label class="control-label" for="fields">Trusted dockerfile list</label>
                                <div class="controls">
                                    <form role="form" autocomplete="off">
                                        <div class="entry input-group" ng-repeat="dockerfile in dockerfiles">
                                            <input readonly class="form-control" name="fields[]" type="text" value="{{dockerfile.name}}" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-success btn-add" type="button" ng-click="genDocker(dockerfile)">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </form>
                                    <br>
                                    <small>Press <span class="glyphicon glyphicon-plus gs"></span> to add another form field :)</small>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>



    </div>


</div>
