<div class="estimate tree-container">
<div class="btn-toolbar estimate toolbar">

    <ul class="nav top-nav estimate">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Setting<span class="caret"></span></a>
            <ul class="dropdown-menu alert-dropdown">
                <li>
                    <a href="#">Exit</a>
                </li>
            </ul>
        </li>
    </ul>
</div> <!-- /toolbar -->



<div class="estimate tree">
    <div style="border: none;" id='jqxTree'>
    </div>
    <div id='jqxMenu'>
        <ul>
            <li>Add Item</li>
            <li>Remove Item</li>
        </ul>
    </div>
</div>
</div>

